<div class="container">
    <div class="row">
      <h1 class="container-fluid">Bienvenue dans la page d'accueil</h1><br>
      <h6 class="container-fluid">Rechercher par titre:</h6><br>
      <input type="text" [(ngModel)]="titre" class="form-control" placeholder="Rechercher une catégorie..." />
      <app-card *ngFor="let categorie of categories | tab:titre" [id]="categorie.id" [title]="categorie.title" [image]="categorie.image" [description]="categorie.description" [available]="categorie.available" [btnText]="'Voir Produits'" (addToShortlist)="handleAddToShortList($event)"></app-card>
      <app-list-products></app-list-products>
    </div>
  </div>
  <router-outlet></router-outlet>